<div class="container">
  <div class="row justify-content-center align-items-center bangumin-height-container">
    <mat-card class="card col col-sm-10">
      <mat-card-header>
        <mat-card-title>
          <p class="text-align-center">
            {{'login.welcomeTitle' | translate}}
          </p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="'login.welcomeText' | translate" class="text-align-center"></p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row justify-content-center align-items-center">
          <a (click)="redirectToBangumi()">
            <button mat-raised-button color="primary">{{'login.oauthRedirect' | translate}}</button>
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
