<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <div>
    <mat-card class="example-card">
      <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card-header>
          <mat-card-title>欢迎来到bangumiN!</mat-card-title>
      </mat-card-header>
      </div>
      <mat-card-content>
        <p>
          bangumiN是一个第三方的bangumi客户端，您需要一个bangumi账号以开始使用，如果您没有账号，可以先去<a href="https://bgm.tv/signup" target="_blank">官方网站</a>注册一个。
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center">
          <a href={{bangumi_oauth_redirect}}><button mat-raised-button color="primary">已有账号？点我登陆</button></a>
        </div>


      </mat-card-actions>
    </mat-card>

  </div>


