@import '~@angular/material/theming';
@import "quill-theme.snow.core";
@import "quill-theme.snow.variant";

// Override the typography in the core CSS.
$custom-typography: mat-typography-config(
  $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
);
@include mat-core($custom-typography);

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px,
);

// probably not the correct usage but it works...
$container-max-widths: (
  sm: 900px,
  md: 1200px,
  lg: 1800px
);

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

// bangumi pink doesn't meet the requirement for accessibility, hide this theme by default
$mat-bangumi-pink: (
  50: #ffe9ee,
  100: #ffc8d2,
  200: #f09199,
  300: #e56572,
  400: #ee3d50,
  500: #f32037,
  600: #e41036,
  700: #d20030,
  800: #c50029,
  900: #b6001d,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

label {
  margin-bottom: 0;
}

// Angular customization
$bangumi-pink-blue-primary: mat-palette($mat-bangumi-pink, 200, 100, 700);
$bangumi-pink-blue-accent: mat-palette($mat-blue, A200, A100, A400);
$bangumi-pink-theme: mat-light-theme($bangumi-pink-blue-primary, $bangumi-pink-blue-accent);

$bangumin-material-blue-teal-primary: mat-palette($mat-blue);
$bangumin-material-blue-teal-accent: mat-palette($mat-teal, A200, A100, A400);
$bangumin-material-blue-teal-theme: mat-light-theme($bangumin-material-blue-teal-primary, $bangumin-material-blue-teal-accent);

$bangumin-material-dark-pink-blue-grey-primary: mat-palette($mat-pink);
$bangumin-material-dark-pink-blue-grey-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$bangumin-material-dark-pink-blue-grey-theme: mat-dark-theme($bangumin-material-dark-pink-blue-grey-primary, $bangumin-material-dark-pink-blue-grey-accent);

// bangumin-own component color
// naming conventions: css name - namespace - type of color
@mixin bangumi-component-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @include angular-material-typography($custom-typography);

  // Use mat-color to extract individual colors from a palette as necessary.
  .warn-color {
    color: mat-color($warn);
  }

  .foreground-color-secondary-text {
    color: mat-color($foreground, secondary-text);
  }

  .color-bangumin-theme-foreground {
    color: mat-color($foreground, text)
  }

  .mat-icon.mat-icon-color-foreground {
    color: mat-color($foreground, text)
  }

  .background-background-color-card {
    background-color: mat-color($background, card);
  }

  .background-color-bangumin-theme-accent {
    background-color: mat-color($accent);
  }

  .mat-divider.quill-invalid {
    border-top-color: mat-color($warn);
  }

  .spoiler-text {
    color: mat-color($accent, default-contrast);
  }

  .text-input {
    &::placeholder{
      color: mat-color($foreground, text);
    }
    color: mat-color($foreground, text);
  }

  quill-editor {
    @include quill-color-mixin($theme);
  }

  ngx-loading-bar {
    #loading-bar {
      color: mat-color($primary, default-contrast) !important;

      .bar {
        background: mat-color($primary, default-contrast) !important;
      }
    }
  }

}

.bangumi-pink-blue {
  @include angular-material-theme($bangumi-pink-theme);
  @include bangumi-component-theme($bangumi-pink-theme)
}

.bangumin-material-blue-teal {
  @include angular-material-theme($bangumin-material-blue-teal-theme);
  @include bangumi-component-theme($bangumin-material-blue-teal-theme)
}

.bangumin-material-dark-pink-blue-grey {
  @include angular-material-theme($bangumin-material-dark-pink-blue-grey-theme);
  @include bangumi-component-theme($bangumin-material-dark-pink-blue-grey-theme)
}



