<div class="container">
  <div class="row  mt-3 mb-2">
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 order-0">

      <div class="d-flex flex-column flex-wrap justify-content-start align-items-center">
        <img *ngIf="subject.images !== null" [src]="subject.images.common | https">
        <img *ngIf="subject.images === null" src="https://bgm.tv/img/no_icon_subject.png">
        <div>
          <p *ngIf="subject?.subjectName?.secondary">{{'subject.tabs.overview.info.alternativeName' | translate}}:
            {{subject.subjectName.secondary || '-'}}</p>
          <p *ngIf="subject.airDate">{{'subject.tabs.overview.info.airDate.' + SubjectType[subject.type] | translate}}:
            {{subject.airDate}}</p>
          <p *ngIf="subject.eps_count">{{'subject.tabs.overview.info.episodeCount' | translate}}: {{subject.eps_count}}
          </p>
        </div>

      </div>
    </div>


    <div class="line-breaker col-12 col-sm-12 col-md-12 col-lg-6
                    order-2 order-lg-1">


      <div class="d-flex flex-column mt-md-3">
        <article class="container">
          {{subject.summary}}
        </article>

        <app-character-list [allCharacters]="subject.character"
                            *ngIf="LayoutService.gtXs(currentDeviceWidth)"></app-character-list>

        <app-staff-list [allStaff]="subject.staff" *ngIf="LayoutService.gtXs(currentDeviceWidth)"></app-staff-list>

      </div>
    </div>


    <div class="col-11 col-sm-6 col-md-6 col-lg-4 order-1 order-lg-2 mt-3 mt-sm-0">
      <mat-card>
        <mat-card-content class="f-flex flex-column">
          <p>{{'subject.tabs.overview.review.bangumiScore' | translate}}:
            <span *ngIf="subject.rating.total === 0">-</span>
          </p>

          <app-score-spinner *ngIf="subject.rating.total !== 0" class="align-self-center"
                             [rating]="subject.rating"></app-score-spinner>

          <p>{{'subject.tabs.overview.review.rank' | translate}}: {{subject.rank}}</p>

          <p *ngIf="this.collectionResponse.status.isTouched">{{'subject.tabs.overview.review.myScore' | translate}}:
            <span *ngIf="currentRating !== 0">{{currentRating}}</span>
          </p>
          <app-star-rating [(currentRating)]="currentRating" [starCount]="10" [isEditable]="true"
                           (ratingUpdated)="onRatingChanged($event)"
                           *ngIf="this.collectionResponse.status.isTouched"></app-star-rating>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog()">
            <ng-container *ngIf="!this.collectionResponse.status.isTouched">
              {{'common.action.addToCollection' | translate}}
            </ng-container>
            <ng-container *ngIf="this.collectionResponse.status.isTouched">
              {{'common.action.editCollection' | translate}}
            </ng-container>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
