<mat-toolbar color="primary" class="fixed-header mat-elevation-z6 helper-toolbar">
  <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
  <div>Bangumin</div>
  <div fxFlex="1 1 auto"></div>
  <a class="helper-mat-toolbar-item helper-cursor-pointer" [matMenuTriggerFor]="menu">
    <span class="helper-vertical-align-img"></span><img src={{imgSrc}}>
  </a>

</mat-toolbar>


<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <span>Sign out</span>
  </button>
</mat-menu>
