
img {
  max-height: 80%;
  min-height: 80%;
  border-radius: 50%;
  vertical-align: middle;
}

.helper-mat-toolbar-item {
  height: inherit;
}

.helper-vertical-align-img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.helper-cursor-pointer {
  cursor: pointer;
}

.helper-toolbar {
  //position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
}

mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

:host {
  display: flex;
}

// search bar style is modified from AIO
.search-container {
  width: 100%;
  height: 100%;
}
