<mat-toolbar *ngIf="isNavBarVisible() | async"
             class="d-flex pl-1 pl-sm-2 fixed-header mat-elevation-z6 helper-toolbar"
             color="primary">
  <button mat-icon-button (click)="toggleSidenav()" *ngIf="LayoutService.xs(currentDeviceWidth) && isAuthenticated"
          tabindex="0">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="d-none d-sm-flex">
    <a mat-button class="pr-1 pl-1" [routerLink]="['/welcome']">
      BangumiN
    </a>
    <span class="mat-caption align-self-end user-select-none">beta</span>
  </div>


  <div *ngIf="LayoutService.gtXs(currentDeviceWidth) && isAuthenticated">
    <a [routerLink]="['/user', this.bangumiUser.user_id, 'statistics']" mat-button
       tabindex="0">{{'nav.menu.myStatistics.name'
      |
      translate}}</a>
    <a [routerLink]="['/user', this.bangumiUser.user_id, 'timeline','spoilers']" mat-button
       tabindex="0">{{'nav.menu.spoilerBox.name'
      | translate}}</a>
  </div>

  <div *ngIf="!isAuthenticated">
    <a mat-button [href]="backendOauthUrl" class="mr-2" tabindex="0">{{'nav.menu.login.name' | translate}}</a>
  </div>

  <div class="flex-grow-1 flex-shrink-1"></div>


  <app-nav-search-bar *ngIf="isAuthenticated"
                      class="search-container d-flex align-content-center justify-content-end align-items-center mr-2">

  </app-nav-search-bar>

  <div class="helper-mat-toolbar-item helper-cursor-pointer d-none d-sm-block">
    <a *ngIf="isAuthenticated" [matMenuTriggerFor]="menu"
       [title]="'nav.menu.a11y.menu.title' | translate:{nickname: bangumiUser.nickname}" role="button"
       tabindex="0">
      <span class="helper-vertical-align-img"></span><img
      [alt]="'nav.menu.a11y.menu.title' | translate:{nickname: bangumiUser.nickname}" src={{bangumiUser.avatar.medium}}
      tabindex="">
    </a>
  </div>


</mat-toolbar>


<mat-menu #menu="matMenu">
  <ng-container *ngIf="isAuthenticated">
    <button routerLink="./settings" mat-menu-item>
      <span>{{'nav.menu.settings.name' | translate}}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <span>{{'nav.menu.logout.name' | translate}}</span>
    </button>
  </ng-container>
</mat-menu>
