<mat-toolbar color="primary" class="fixed-header mat-elevation-z6 helper-toolbar" fxLayoutGap="10px">
  <button mat-icon-button (click)="toggleSidenav()" *ngIf="LayoutService.xs(currentDeviceWidth) && isAuthenticated">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxShow fxHide.xs>BangumiN</div>

  <div *ngIf="LayoutService.gtXs(currentDeviceWidth) && isAuthenticated">
    <a mat-button routerLink="./progress">{{'progress.name' | translate}}</a>
    <a mat-button [routerLink]="['./profile', this.bangumiUser.user_id]">{{'profile.name' | translate}}</a>
  </div>

  <div fxFlex="1 1 auto"></div>

  <div class="search-container" fxLayoutAlign="end center">
    <input type="search" aria-label="search" placeholder="search" #searchBar
           (keyup.enter)="doFullSearch(searchBar.value)" value="{{searchKeywords}}">
  </div>


  <a class="helper-mat-toolbar-item helper-cursor-pointer" [matMenuTriggerFor]="menu">
    <span class="helper-vertical-align-img"></span><img src={{bangumiUser.avatar.large}}>
  </a>

</mat-toolbar>


<mat-menu #menu="matMenu">
  <button routerLink="./settings" mat-menu-item>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <span>Sign out</span>
  </button>
</mat-menu>
