/* You can add global styles to this file, and also import other style files */
//@import "assets/material-icons/material-icons.css"; // added cdn, don't need to import it manually at this time
@import "assets/styles/styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/scss/utilities/_spacing";
@import "~bootstrap/scss/utilities/_display";
@import "~bootstrap/scss/mixins/_image";
@import "~bootstrap/scss/_images";
@import '~@angular/material/theming';

@include mat-core();
@import "~placeholder-loading/src/scss/placeholder-loading";
@import '~quill/dist/quill.snow.css'; // TODO: figure out a way to lazy load this css only if user enters specific component

// Angular customization
$bangumi-pink-blue-primary: mat-palette($mat-bangumi-pink, 200, 100, 700);
$bangumi-pink-blue-accent: mat-palette($mat-blue, A200, A100, A400);
$bangumi-pink-theme: mat-light-theme($bangumi-pink-blue-primary, $bangumi-pink-blue-accent);

$bangumin-material-blue-teal-primary: mat-palette($mat-blue);
$bangumin-material-blue-teal-accent: mat-palette($mat-teal, A200, A100, A400);
$bangumin-material-blue-teal-theme: mat-light-theme($bangumin-material-blue-teal-primary, $bangumin-material-blue-teal-accent);

$bangumin-material-dark-pink-blue-grey-primary: mat-palette($mat-pink);
$bangumin-material-dark-pink-blue-grey-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$bangumin-material-dark-pink-blue-grey-theme: mat-dark-theme($bangumin-material-dark-pink-blue-grey-primary, $bangumin-material-dark-pink-blue-grey-accent);

.bangumi-pink-blue {
  @include angular-material-theme($bangumi-pink-theme);
}

.bangumin-material-blue-teal {
  @include angular-material-theme($bangumin-material-blue-teal-theme);
}

.bangumin-material-dark-pink-blue-grey {
  @include angular-material-theme($bangumin-material-dark-pink-blue-grey-theme);
}

.mat-card-header-text {
  width: 100%;
}

//override default border for placeholder
.ph-item {
  border: none !important;
}

// helper styles
.line-breaker {
  white-space: pre-line;
}

.text-align-center {
  text-align: center;
}

.bangumin-height-container {
  height: 100vh;
}

