<div
  [class]="theme">
  <!--<ngx-charts-bar-vertical-->
  <!--[view]="view"-->
  <!--[scheme]="colorScheme"-->
  <!--[results]="data"-->
  <!--[gradient]="gradient"-->
  <!--[showGridLines]="showGridLines"-->
  <!--[xAxis]="showXAxis"-->
  <!--[yAxis]="showYAxis"-->
  <!--[legend]="showLegend"-->
  <!--[showXAxisLabel]="showXAxisLabel"-->
  <!--[showYAxisLabel]="showYAxisLabel"-->
  <!--[xAxisLabel]="xAxisLabel"-->
  <!--[yAxisLabel]="yAxisLabel">-->
  <!--</ngx-charts-bar-vertical>-->
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [results]="lineData"
    [animations]=true
    [legend]="showLegend"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]=false
    [showGridLines]="showGridLines"
    [rangeFillOpacity]="rangeFillOpacity"
    [roundDomains]=false
    [tooltipDisabled]=false>
  </ngx-charts-line-chart>
</div>


<mat-form-field>
  <mat-select
    [(value)]="selectedTypeList"
    (selectionChange)="switchType()"
    multiple>
    <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
  </mat-select>
</mat-form-field>

