<div
  [class]="theme">
  <!--<ngx-charts-bar-vertical-->
  <!--[view]="view"-->
  <!--[scheme]="colorScheme"-->
  <!--[results]="scoreVsCountData"-->
  <!--[gradient]="gradient"-->
  <!--[showGridLines]="showGridLines"-->
  <!--[xAxis]="showXAxis"-->
  <!--[yAxis]="showYAxis"-->
  <!--[legend]="showLegend"-->
  <!--[showXAxisLabel]="showXAxisLabel"-->
  <!--[showYAxisLabel]="showYAxisLabel"-->
  <!--[xAxisLabel]="xAxisLabel"-->
  <!--[yAxisLabel]="yAxisLabel">-->
  <!--</ngx-charts-bar-vertical>-->
  <!--<ngx-charts-line-chart-->
  <!--[view]="view"-->
  <!--[scheme]="colorScheme"-->
  <!--[schemeType]="schemeType"-->
  <!--[results]="yearVsMeanData"-->
  <!--[animations]=true-->
  <!--[legend]="showLegend"-->
  <!--[gradient]="gradient"-->
  <!--[xAxis]="showXAxis"-->
  <!--[yAxis]="showYAxis"-->
  <!--[showXAxisLabel]="showXAxisLabel"-->
  <!--[showYAxisLabel]="showYAxisLabel"-->
  <!--[xAxisLabel]="xAxisLabel"-->
  <!--[yAxisLabel]="yAxisLabel"-->
  <!--[timeline]=false-->
  <!--[showGridLines]="showGridLines"-->
  <!--[rangeFillOpacity]="rangeFillOpacity"-->
  <!--[roundDomains]=false-->
  <!--[tooltipDisabled]=false>-->
  <!--</ngx-charts-line-chart>-->
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="scoreVsCountData"
    [animations]=true
    [gradient]="gradient"
    [tooltipDisabled]=false
    [tooltipText]="pieTooltipText">
  </ngx-charts-advanced-pie-chart>
</div>

<!--<mat-form-field>-->
<!--<mat-select-->
<!--[(value)]="selectedTypeListForscoreVsCount"-->
<!--(selectionChange)="switchType('scoreVsCount')"-->
<!--multiple>-->
<!--<mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->

<mat-form-field>
  <mat-select
    #yearVsMeanSelect="matSelect"
    [(value)]="selectedTypeListForyearVsMean"
    multiple>
    <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
  </mat-select>
</mat-form-field>

