<div class="row justify-content-center">
  <div class="mt-5"></div>
  <app-spoiler-single-content
    *ngIf="spoilerExisted !== null"
    [bangumiUser]="bangumiUser"
    [spoilerContent]="spoilerExisted"
    class="col col-sm-8 col-md-6">
  </app-spoiler-single-content>

  <div class="w-100"></div>

  <div class="col col-sm-8 col-md-6 d-flex flex-column mt-sm-3 mt-5"
       *ngIf="!(isAuthenticated() | async) && spoilerExisted !== null">
    <p class="foreground-color-secondary-text">{{'posts.bangumin.spoilerBox.single.guestPrompt.message' |
      translate}}</p>
    <button mat-raised-button color="primary" [routerLink]="['/login']">
      {{'posts.bangumin.spoilerBox.single.guestPrompt.learnMoreButton' | translate}}
    </button>
  </div>
</div>


<app-page-not-found *ngIf="spoilerExisted === null"></app-page-not-found>
