<div class="d-flex justify-content-center align-content-center pr-1">
  <div>
    <mat-progress-spinner
      [diameter]="100"
      [value]="rating.score/10*100"
    >

    </mat-progress-spinner>

    <div class="score-text-center d-flex flex-column justify-content-start align-content-center align-items-center">
      <div *ngIf="rating.score !== 0">
        {{rating.score}}
      </div>
      <div *ngIf="rating.total !== 0">
        <mat-icon style="vertical-align: middle">people</mat-icon>
        <span>{{rating.total}}</span>
      </div>

    </div>
  </div>

  <div>

  </div>

</div>
