<div *ngIf="targetSubjectStatsArr"
     class="row no-gutters flex-wrap justify-content-center">

  <div class="col-11">
    <div class="d-flex justify-content-end">
      <div [translate]="'statistics.updateTime.last'" [translateParams]="{time: getLastUpdateTime()}"
           class="mr-2 flex-shrink-0">
      </div>
      <mat-icon [matTooltip]="'statistics.updateTime.explanation.subject' | translate: {time: getLastUpdateTime()}">
        access_time
      </mat-icon>
    </div>
  </div>

  <mat-card class="col-12 col-lg-5-half  mt-2 d-none d-md-block">
    <mat-card-content>
      <div class="responsive-container-chart-height-low">
        <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="countByStateData"
          [label]="'statistics.summaryChart.label' | translate"
          [animations]=true
          [gradient]="false"
          [tooltipDisabled]=false
          [tooltipText]="pieTooltipText">
        </ngx-charts-advanced-pie-chart>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="col-12 col-lg-5-half ml-lg-2 mt-2 d-md-block">
    <mat-card-content>
      <div class="responsive-container-chart-height-low">
        <ngx-charts-number-card
          [scheme]="colorScheme"
          cardColor="#232837"
          emptyColor="#1e222e"
          [results]="descStatData"
          [animations]=true>
        </ngx-charts-number-card>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card class="col-12 col-lg-5-half  mt-2 d-md-block">
    <mat-card-header>
      <mat-card-title class="text-align-center">{{'statistics.subjectCountBarChart.title' | translate}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="responsive-container-chart-height-low">
        <ngx-charts-bar-vertical
          [scheme]="colorScheme"
          [results]="scoreVsCountData"
          [gradient]="false"
          [showGridLines]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'statistics.countBarChart.score' | translate"
          [yAxisLabel]="'statistics.countBarChart.count' | translate">
          <ng-template #tooltipTemplate let-model="model">
            <!-- todo: left align -->
            <h4>{{'statistics.countBarChart.score' | translate}}: {{model.name}}</h4>
            <h4>{{'statistics.countBarChart.count' | translate}}: {{model.value}}</h4>
          </ng-template>
        </ngx-charts-bar-vertical>
      </div>


      <form class="row no-gutters justify-content-center align-items-center ml-1"
            [formGroup]="scoreVsCountFilterFormGroup">
        <div class="col-1">
          <mat-icon>filter_list</mat-icon>
        </div>
        <mat-form-field class="col">
          <mat-select
            [formControl]="scoreVsCountFilterFormGroup.get('stateSelect')"
            multiple>
            <mat-option *ngFor="let status of collectionStatusList" [value]="status">
              {{'common.statusFullname.' + status | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-1"></div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-12 col-lg-5-half ml-lg-2 mt-2 d-md-block">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title class="text-align-center">{{'statistics.subjectAccumulatedMeanLineChart.title' | translate}}
        </mat-card-title>
      </mat-card-header>
      <div class="responsive-container-chart-height-low">
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [schemeType]="'ordinal'"
          [results]="accumulatedMeanData"
          [animations]=true
          [legend]="false"
          [gradient]="false"
          [autoScale]=true
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [xAxisTickFormatting]="calendarAxisTickFormatting"
          [showYAxisLabel]="true"
          [xAxisLabel]="'statistics.subjectAccumulatedMeanLineChart.year' | translate"
          [yAxisLabel]="'statistics.subjectAccumulatedMeanLineChart.score' | translate"
          [timeline]=false
          [showGridLines]="true"
          [rangeFillOpacity]="0.15"
          [roundDomains]=false
          [tooltipDisabled]=false
        >
          <ng-template #tooltipTemplate let-model="model">
            <!-- todo: left align -->
            <h3>
              {{model.series.substring(0, 10)}} {{'statistics.subjectAccumulatedMeanLineChart.until' | translate}}
              {{model.name}}
            </h3>
            <h4>
              {{'statistics.subjectAccumulatedMeanLineChart.accumulatedMean' | translate}}: {{model.value | number:
              '1.1-2'}}
            </h4>
            <h4>
              {{'statistics.subjectAccumulatedMeanLineChart.accumulatedCOunt' | translate}}:
              {{getScoringCountUntil(accumulatedMeanData, model.series,model.name)}}
            </h4>
          </ng-template>
        </ngx-charts-line-chart>
      </div>


      <form class="row no-gutters justify-content-center align-items-center ml-1"
            [formGroup]="yearVsAccumulatedMeanFilterFormGroup">
        <div class="col-1">
          <mat-icon>filter_list</mat-icon>
        </div>
        <mat-form-field class="col">
          <mat-select
            [formControl]="yearVsAccumulatedMeanFilterFormGroup.get('stateSelect')"
            multiple>
            <mat-option *ngFor="let status of collectionStatusList" [value]="status">
              {{'common.statusFullname.' + status | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-1"></div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!targetSubjectStatsArr">
  <app-loading-spinner></app-loading-spinner>
</div>
