
<div class="d-flex  align-items-center">

</div>

<div mat-dialog-content>

  <quill-editor #editor class="editor-wrapper" [formats]="['spoiler', 'clean']"
                [placeholder]="'profile.tabs.timeline.spoilerBox.creation.dialog.editor.prompt' | translate"
                (onEditorCreated)="setEditor($event)">
    <div quill-editor-toolbar id="quill-editor-toolbar" class="bangumin-quill-editor">
      <button [matTooltip]="'profile.tabs.timeline.spoilerBox.creation.dialog.editor.toolbar.visibilityOn' | translate"
              class="ql-clean">
      </button>
      <button [matTooltip]="'profile.tabs.timeline.spoilerBox.creation.dialog.editor.toolbar.visibilityOff' | translate"
              id="bold-button" (click)="addBold($event)">
        <mat-icon>visibility_off</mat-icon>
      </button>


    </div>

  </quill-editor>

  <mat-divider></mat-divider>

  <div class="row flex-nowrap no-gutters justify-content-center align-items-center align-content-center mt-2">
    <mat-form-field class="col-9 col-sm-9">

      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let subject of subjects"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(subject)">
          {{subject}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          [placeholder]="'profile.tabs.timeline.spoilerBox.creation.dialog.option.tagSubject.name' | translate"
          #subjectInput
          [formControl]="subjectCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
          (keyup.enter)="submitSearch($event)"
        >
      </mat-chip-list>


      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id" class="mb-1">

          <img class="img-grid img-fluid" aria-hidden [src]="subject.images.grid">
          <mat-icon class="ml-1 mr-1">{{setSubjectIcon(subject.type)}}</mat-icon>
          <small>{{subject.name}}</small>
          |
          <small>{{subject.nameCN}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="col-sm-1"></div>
    <button mat-raised-button
            [disabled]="this.disableSearch"
            (click)="submitSearch($event)"
            class="col-2 col-sm-2 align-self-center ml-2 ml-sm-0">{{updateSearchButtonText() | translate}}
    </button>
  </div>



</div>


<div mat-dialog-actions class="row">
  <button mat-flat-button cdkFocusInitial color="primary" class="col-5 col-sm-3">Cancel</button>
  <div class="col-2 col-sm-6"></div>
  <button mat-flat-button cdkFocusInitial color="primary" class="col-5 col-sm-3">Submit</button>
</div>
