<div class="d-flex  align-items-center">

</div>

<div mat-dialog-content>

  <form [formGroup]="spoilerForm">

    <quill-editor #editor [formControl]="spoilerTextEditorControl"
                  [format]="'object'" [formats]="['spoiler', 'clean']" [required]="true"
                  [maxLength]="SpoilerCreationConfig.MAX_SPOILER_TEXT_LENGTH"
                  [placeholder]="'profile.tabs.timeline.spoilerBox.creation.dialog.editor.prompt' | translate"
                  (onEditorCreated)="initializeEditor($event)"
                  class="editor-wrapper"
    >
      <div quill-editor-toolbar id="quill-editor-toolbar" class="bangumin-quill-editor">
        <button
          [matTooltip]="'profile.tabs.timeline.spoilerBox.creation.dialog.editor.toolbar.visibilityOn' | translate"
          class="ql-clean">
          <mat-icon class="mat-icon-color-foreground">visibility</mat-icon>
        </button>
        <button
          [matTooltip]="'profile.tabs.timeline.spoilerBox.creation.dialog.editor.toolbar.visibilityOff' | translate"
          id="bold-button" (click)="markSpoilerText($event)">
          <mat-icon class="mat-icon-color-foreground">visibility_off</mat-icon>
        </button>


      </div>

    </quill-editor>


    <mat-divider
      [ngClass]="{'quill-invalid' :spoilerTextEditorControl.errors && !spoilerTextEditorControl.errors['required']}"></mat-divider>

    <mat-error *ngIf="spoilerTextEditorControl.errors && !spoilerTextEditorControl.errors['required']">
      <p *ngIf="spoilerTextEditorControl.errors['maxLengthError']">
        {{'error.maximumTextLengthReached' | translate: {maxLength: SpoilerCreationConfig.MAX_SPOILER_TEXT_LENGTH } }}
        {{'common.punctuation.comma' | translate }}
        {{'common.punctuation.space' | translate }}
        {{'errorHelper.text.currentLength' | translate: {currentLength:
        spoilerTextEditorControl.errors['maxLengthError']['given'] || '' } }}
      </p>
    </mat-error>


  </form>


  <form [formGroup]="spoilerForm">
    <div class="row flex-nowrap no-gutters justify-content-center align-items-center align-content-center mt-2">
      <mat-form-field class="col-9 col-sm-9">

        <mat-chip-list #chipList [formControl]="relatedSubjectsControl">
          <mat-chip
            *ngFor="let relatedSubject of relatedSubjectsControl.value"
            [selectable]="false"
            [removable]="true"
            (removed)="onSubjectChipRemoveClick(relatedSubject)">
            {{relatedSubject.subjectName.preferred}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            [placeholder]="'profile.tabs.timeline.spoilerBox.creation.dialog.option.tagSubject.name' | translate: {maximumCount: SpoilerCreationConfig.MAX_RELATED_SUBJECT_NUMBER}"
            #subjectInput

            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="[]"
            [matChipInputAddOnBlur]="false"
            (keyup.enter)="onTriggerSubjectSearch($event)"
          >
        </mat-chip-list>


        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAddChipAutoCompletionClick($event)">
          <ng-container *ngFor="let subject of subjectSearchResult | async">
            <mat-option [value]="subject" class="mb-1">

              <img class="img-grid img-fluid" aria-hidden [src]="subject.images.grid">
              <mat-icon class="ml-1 mr-1">{{getSubjectIcon(subject.type)}}</mat-icon>
              <small>{{subject.subjectName.preferred}}</small>
              <ng-container *ngIf="subject.subjectName.secondary">
                |
                <ng-container *ngIf="subject.id">
                  <small>{{subject.subjectName.secondary}}</small>
                </ng-container>
                <!--if subject id doesn't exist, then it's a self-defined subject TODO: improve this two-ish if logic-->
                <ng-container *ngIf="!subject.id">
                  <small>{{subject.subjectName.secondary | translate}}</small>
                </ng-container>
              </ng-container>

            </mat-option>
          </ng-container>

        </mat-autocomplete>
      </mat-form-field>
      <div class="col-sm-1"></div>
      <button mat-raised-button
              [disabled]="this.disableSearch"
              (click)="onTriggerSubjectSearch($event)"
              class="col-2 col-sm-2 align-self-center ml-2 ml-sm-0">{{updateSearchButtonText() | translate}}
      </button>
    </div>

    <mat-error *ngIf="relatedSubjectsControl.errors">
      <p *ngIf="relatedSubjectsControl.errors['maxlength']">
        {{'error.maximumTagLengthReached' | translate: {maxLength: SpoilerCreationConfig.MAX_RELATED_SUBJECT_NUMBER } }}
      </p>
    </mat-error>
  </form>


</div>


<div mat-dialog-actions class="row">
  <button
    (click)="onSpoilerDialogClose()"
    mat-flat-button color="primary" class="col-5 col-sm-3">
    {{'profile.tabs.timeline.spoilerBox.creation.dialog.button.cancel' | translate}}
  </button>
  <div class="col-2 col-sm-6"></div>
  <button [disabled]="spoilerForm.invalid || duringSpoilerSubmission"
          (click)="onSpoilerFormSubmit()"
          mat-flat-button cdkFocusInitial color="primary" class="col-5 col-sm-3">
    {{'profile.tabs.timeline.spoilerBox.creation.dialog.button.submit' | translate}}
  </button>
</div>
