<nav mat-tab-nav-bar>
  <!--wait https://github.com/angular/angular/issues/20995 to be resolved before using ngFor here-->
  <a mat-tab-link
     [routerLink]="['collection']"
     routerLinkActive
     #rla="routerLinkActive"
     [active]="rla.isActive"

  >
    {{'profile.tabs.collection.name' | translate}}
  </a>

  <a mat-tab-link
     [routerLink]="['statistics']"
     routerLinkActive
     #rlaStats="routerLinkActive"
     [active]="rlaStats.isActive"
  >
    {{'profile.tabs.statistics.name' | translate}}
  </a>
</nav>


<router-outlet></router-outlet>










