<div class="container mt-5">
  <div class="row flex-sm-nowrap">
    <div class="col-12 col-sm-6 col-md-5 offset-sm-1" [innerHTML]="'about.body.content' | translate">

    </div>
    <div class="col-12 col-sm-4 offset-sm-1">
      <div class="pt-5">
        <section>
          <a routerLink="/tos">{{'about.link.tos.name' | translate}}</a>
        </section>
        <section>
          <a routerLink="/privacy">{{'about.link.privacy.name' | translate}}</a>
        </section>
      </div>
      <!---->
    </div>
  </div>
</div>
