<div *ngIf="targetUserStatsArr && targetUser"
     class="row flex-wrap justify-content-center no-gutters pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-4 pr-md-4 pl-lg-0 pr-lg-0">

  <div class="col-12">
    <div class="d-flex flex-column align-items-center">
      <img [src]="targetUser.avatar.medium" class="user-avatar">
      <div>{{targetUser.nickname}}'s statistics</div>
    </div>

  </div>

  <mat-card class="col-12 col-lg-5-half  mt-2 d-none d-md-block">
    <mat-card-content>
      <div class="responsive-container-chart-height-low">
        <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="countByTypeData"
          [animations]=true
          [gradient]="gradient"
          [tooltipDisabled]=false
          [tooltipText]="pieTooltipText">
        </ngx-charts-advanced-pie-chart>
      </div>

    </mat-card-content>
  </mat-card>


  <mat-card class="col-12 col-lg-5-half ml-lg-2 mt-2 d-none d-md-block">
    <mat-card-content>
      <div class="responsive-container-chart-height-low">
        <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="countByTypeData"
          [animations]=true
          [gradient]="gradient"
          [tooltipDisabled]=false
          [tooltipText]="pieTooltipText">
        </ngx-charts-advanced-pie-chart>
      </div>

    </mat-card-content>
  </mat-card>


  <div class="w-100"></div>

  <mat-card class="col-12 col-lg-5-half flex-lg-grow-1 mt-2 ">
    <mat-card-content>
      <div class="responsive-container-chart-height-high">
        <ngx-charts-bar-vertical

          [scheme]="colorScheme"
          [results]="scoreVsCountData"
          [gradient]="gradient"
          [showGridLines]="showGridLines"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel">
          <ng-template #tooltipTemplate let-model="model">
            <!-- todo: left align -->
            <h4>Score: {{model.name}}</h4>
            <h4>Count: {{model.value}}</h4>
          </ng-template>
        </ngx-charts-bar-vertical>
      </div>


      <form [formGroup]="scoreVsCountFilterFormGroup">
        <mat-form-field>
          <mat-select
            [formControl]="scoreVsCountFilterFormGroup.get('subjectTypeSelect')"
            multiple>
            <mat-option *ngFor="let type of subjectTypeList" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            [formControl]="scoreVsCountFilterFormGroup.get('stateSelect')"
            multiple>
            <mat-option *ngFor="let status of collectionStatusList" [value]="status">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>


  <mat-card class="col-12 col-lg-5-half flex-lg-grow-1 ml-lg-2 mt-2">
    <mat-card-content>
      <div class="responsive-container-chart-height-high">
        <ngx-charts-line-chart

          [scheme]="colorScheme"
          [schemeType]="schemeType"
          [results]="yearVsMeanData"
          [animations]=true
          [legend]="showLegend"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [xAxisTickFormatting]="calendarAxisTickFormatting"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]=false
          [showGridLines]="showGridLines"
          [rangeFillOpacity]="rangeFillOpacity"
          [roundDomains]=false
          [tooltipDisabled]=false>
          <ng-template #tooltipTemplate let-model="model">
            <!-- todo: left align -->
            <h3>
              {{model.series}} IN {{model.name}}
            </h3>
            <h4>
              Mean: {{model.value | number: '1.1-2'}}
              • Min: {{getYearScoreMinMax(model.series, model.name, 'min')}}
              • Max: {{getYearScoreMinMax(model.series, model.name, 'max')}}
            </h4>
            <h4>
              Count: {{getYearCount(model.name)}}
            </h4>
          </ng-template>
        </ngx-charts-line-chart>
      </div>


      <form [formGroup]="yearVsMeanFilterFormGroup">
        <mat-form-field>
          <mat-select
            [formControl]="yearVsMeanFilterFormGroup.get('subjectTypeSelect')"
            multiple>
            <mat-option *ngFor="let type of subjectTypeList" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            [formControl]="yearVsMeanFilterFormGroup.get('stateSelect')"
            multiple>
            <mat-option *ngFor="let status of collectionStatusList" [value]="status">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>


</div>


<div *ngIf="!targetUserStatsArr || !targetUser">
  <app-loading-spinner></app-loading-spinner>
</div>
