<div *ngFor="let placeholder of placeholderDummyArray">
  <div class="ph-item">
    <div class="ph-col-2">
      <div class="ph-picture"></div>
    </div>
    <div>
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-10 big"></div>
          <div class="ph-col-2 empty big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
          <div class="ph-col-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>
