<form [formGroup]="episodeStatusForm" novalidate>
  <h1 mat-dialog-title>ep.{{collectionInfo.episode.sort}} {{collectionInfo.episode.name === "" ? "-" :
    collectionInfo.episode.name}}
    <small class="grey" *ngIf="collectionInfo.episode.nameCN !== '' ">{{collectionInfo.episode.nameCN}}</small>
  </h1>


  <div mat-dialog-content>
    <mat-button-toggle-group formControlName="collectionStatus"
                             #group="matButtonToggleGroup" (change)="onSubmitValueChange(group.value)"
                             class="episode-action-mat-button-group">
      <mat-button-toggle [value]="episodeCollectionStatus.queue">{{'progress.episode.status.queue' | translate}}
      </mat-button-toggle>
      <mat-button-toggle [value]="episodeCollectionStatus.watched"> {{'progress.episode.status.watched' |
        translate}}
      </mat-button-toggle>
      <mat-button-toggle [value]="episodeCollectionStatus.drop"> {{'progress.episode.status.drop' | translate}}
      </mat-button-toggle>
      <mat-button-toggle [value]="episodeCollectionStatus.remove"
                         *ngIf="this.collectionInfo.episode.userCollectionStatus !== eps.untouched">
        {{'progress.episode.status.remove' | translate}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div mat-dialog-actions>

  </div>
</form>
