<div class="container pt-1 pb-1 pt-sm-2 pb-sm-2">
  <div class="row flex-nowrap">

    <div class="col-4 col-sm-3 col-md-2">
      <div class="figure">
        <a [routerLink]="['../subject', collection.subject.id]">
          <img class="img-fluid" [src]="collection.subject.images.medium"/>
        </a>
        <mat-progress-bar mode="determinate" [value]="calculateCollectionProgress(collection)"
                          class="d-block d-sm-none mt-1 mb-1"></mat-progress-bar>
      </div>

    </div>


    <div class="col-7 col-sm-9 col-md-10 align-self-center">

      <div class="row">
        <div class="col">
          <div>
            <p class="text-align-center"> {{collection.subject.name}}
              <button class="d-sm-inline d-none" mat-icon-button (click)="openReviewDialog()">
                <mat-icon>edit</mat-icon>
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="" *ngIf="collection.subject.type === SubjectType.book && bookProgressForm !== undefined">
        <form class="row justify-content-center" [formGroup]="bookProgressForm" (ngSubmit)="submitBookProgress()"
              novalidate>
          <mat-form-field class="col col-sm-3 input-book-width pr-sm-2">
            <div matPrefix="">{{'common.book.volumeNumber' | translate}}</div>
            <input type="number" pattern="\d*" matInput formControlName="completedVolumeCount"
                   class="text-align-right">
            <div matSuffix>/{{collection.subject.totalVolumesCount}}{{'common.book.volume' | translate}}</div>
          </mat-form-field>
          <mat-form-field class="col col-sm-3 input-book-width">
            <div matPrefix="">{{'common.book.chapterNumber' | translate}}</div>
            <input type="number" pattern="\d*" matInput formControlName="completedEpisodeCount"
                   class="text-align-right">
            <div matSuffix>/{{collection.subject.totalEpisodesCount}}{{'common.book.chapter' | translate}}</div>
          </mat-form-field>
          <button mat-button type="submit" class="col-6 col-sm-2">{{'common.action.update' | translate}}
          </button>
        </form>

      </div>
      <div class="row pb-3 flex-nowrap d-none d-sm-block">
        <mat-progress-bar class="col align-self-center" mode="determinate"
                          [value]="calculateCollectionProgress(collection)"></mat-progress-bar>


      </div>


    </div>


    <button class="col-1 d-sm-none d-block" mat-icon-button (click)="openReviewDialog()">
      <mat-icon>edit</mat-icon>
    </button>


  </div>


</div>

<mat-divider></mat-divider>
