<ng-container *ngIf="!username">
  <div class="d-flex justify-content-center align-items-center min-height-100-vh">
    <div class="d-flex flex-column align-items-center">
      <div class="text-align-center mat-display-3">你的Bangumi 2018</div>
      <div class="text-align-center mat-display-1">Provided by BangumiN</div>
      <form (ngSubmit)="submitRequestedUserForm()" [formGroup]="requestedUserForm" class="form-full-width" novalidate>
        <mat-form-field>
          <mat-label> 输入用户id或主页地址</mat-label>
          <input formControlName="userNameOrHomeUrl" matInput placeholder="例: example 或 https://bgm.tv/user/example">
        </mat-form-field>
        <button [disabled]="requestedUserForm.invalid || requestedUserForm.pristine" color="primary" mat-raised-button
                type="submit">开启年鉴
        </button>
      </form>

    </div>
  </div>
</ng-container>


<app-user-summary *ngIf="username" [username]="username"></app-user-summary>
