// search bar style is modified from AIO
input {
  color: black;
  border: none;
  border-radius: 3px;
  //background-color: white;
  padding: 5px 16px;
  margin-left: 8px;
  width: 350px;
  max-width: 400px;
  height: 60%;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  &:focus {
    outline: none;
  }

  @media (max-width: 480px) {
    width: 250px;
  }
}

