<div class="container">
  <div class="row" *ngIf="allStaff.length >= 1">
    <h4 class="col-12">{{'subject.tabs.overview.info.staff' | translate}}</h4>
    <div class="w-100"></div>
    <div class="col-12"
    >

      <div class="row">

        <div class="col-5 col-sm-4 mt-1"
             *ngFor="let staff of allStaff">
          <div class="d-flex flex-nowrap">
            <div>
              <a *ngIf="staff.url" target="_blank" href="{{staff.url}}"><img [src]="staff.images.small"></a>
              <img *ngIf="!staff.url" [src]="staff.images.small">
            </div>
            <div class="pl-2">
              <div><span>{{staff.name}}</span>
                <small class="comment-number">(+{{staff.comment}})</small>
              </div>
              <mat-divider></mat-divider>
              <small class="sub-list">{{staff.jobs.join(" / ")}}</small>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>

</div>
