<div fxLayout="column" *ngIf="allStaff.length >= 1">
  <h4>{{'subject.tabs.overview.info.staff' | translate}}</h4>

  <!--fxFlexAlign="start" causes item to shrink here-->
  <div fxLayout="row wrap" fxFlex="0 1"
  >

    <div fxLayout="row" fxLayoutAlign="start start"
         fxFlex.gt-xs="0 1 25%" fxFlex.xs="0 1 50%"
         fxLayoutGap="3%"
         class="has-margin-top-xs"
         *ngFor="let staff of allStaff">
      <a *ngIf="staff.url" target="_blank" href="{{staff.url}}"><img [src]="staff.images.small"></a>
      <img *ngIf="!staff.url" [src]="staff.images.small">
      <div>
        <div><span>{{staff.name}}</span>
          <small class="comment-number">(+{{staff.comment}})</small>
        </div>
        <mat-divider></mat-divider>
        <small class="sub-list">{{staff.jobs.join(" / ")}}</small>
      </div>

    </div>

  </div>
</div>
