@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }

}

.summary {
  .inactive {
    animation: fadeOut 1.5s;
  }

  .active {
    animation: fadeIn 1.5s;
  }
}
