.card-footer {
  border-top: 1px solid #dbdbdb;
}

.title-truncate {
  overflow: hidden;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

:host ::ng-deep .paragraph-end {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  bottom: 0;
  height: 60px;
  max-height: 100%;
  position: absolute;
  right: 0;
  width: 30px;
}
