<div class="row justify-content-center align-items-start" *ngIf="subject">


  <div class="col-11 col-sm-10 col-md-9">
    <div class="d-flex justify-content-start align-items-center">
      <h2>{{subject.name}}</h2>
      <a
        *ngIf="subject.url" href={{subject.url}} target="_blank"
        matTooltip="{{'subject.tabs.overview.openInBangumi' | translate}}"
      >
        <mat-icon class="icon-center">open_in_new</mat-icon>
      </a>
    </div>

    <div>
      <nav mat-tab-nav-bar>
        <!--wait https://github.com/angular/angular/issues/20995 to be resolved before using ngFor here-->
        <!--set [routerLink]="['./']" will let mat-tab always match the first tab, passing routerLinkActiveOptions
         to only allow exact match-->
        <a mat-tab-link
           [routerLink]="['./']"
           routerLinkActive
           #rla="routerLinkActive"
           [routerLinkActiveOptions]="{exact: true}"
           [active]="rla.isActive"

        >
          {{'subject.tabs.overview.name' | translate}}
        </a>

        <a mat-tab-link
           [routerLink]="['statistics']"
           routerLinkActive
           #rlaStats="routerLinkActive"
           [routerLinkActiveOptions]="{exact: true}"
           [active]="rlaStats.isActive"
        >
          {{'profile.tabs.statistics.name' | translate}}
        </a>
      </nav>


      <router-outlet></router-outlet>
    </div>

  </div>

</div>


<div *ngIf="!subject">
  <app-loading-spinner></app-loading-spinner>
</div>
