<div class="mt-2"></div>

<ng-container *ngIf="userSpoilers">
  <div infinite-scroll
       [infiniteScrollDisabled]="infiniteScrollDisabled"
       (scrolled)="onScrollDown()">
    <div *ngFor="let userSpoiler of userSpoilers"
         class="row justify-content-center no-gutters mt-2 mt-md-3">

      <app-spoiler-single-content
        [bangumiUser]="bangumiUser"
        [spoilerContent]="userSpoiler"
        class="col col-sm-8 col-md-6">
      </app-spoiler-single-content>

    </div>

  </div>

  <div *ngIf="!endOfContent" class="row justify-content-center no-gutters mt-2 mt-md-3">
    <mat-spinner [diameter]="25"></mat-spinner>
  </div>

  <app-back-to-top *ngIf="endOfContent"></app-back-to-top>

</ng-container>

<div class="mb-2"></div>

<!--TODO: remove this.blur() after https://github.com/angular/material2/issues/8420 is resolved-->
<button onclick="this.blur()" (click)="openDialog();"
        mat-fab color="primary" id="spoiler-creation-fab">
  <mat-icon>add</mat-icon>
</button>
