<div class="container">
  <div class="row justify-content-center no-gutters">

    <!--<app-spoiler-creation class="col-11 col-sm-8 col-md-6 "></app-spoiler-creation>-->

    <button mat-raised-button (click)="openDialog()">Pick one</button>

    <div class="col-12 mb-5 "></div>

    <app-spoiler-single-content class="col-11 col-sm-8 col-md-6"></app-spoiler-single-content>

    <div class="col-12 pb-5"></div>

  </div>


</div>


<button (click)="openDialog()"
        mat-fab color="primary" id="spoiler-creation-fab">
  <mat-icon>add</mat-icon>
</button>
