mat-divider {
  position: relative !important;
}

.avatar-image {
  background-size: cover;
}

.spoiled-title {
  margin-bottom: auto;
  margin-top: auto;
}

.spoiler-card {
  word-break: break-all;
}

.image-grid {
  max-width: 48px;
  max-height: 48px;
}

.avatar-content-loader {
  width: 40px;
  height: 40px;
  min-width: auto;

}
