mat-divider {
  position: relative !important;
}

.avatar-image {
  background-size: cover;
}

.spoiler-text {
  padding: 4px 4px 4px 4px;
  box-decoration-break: clone;
  text-decoration: none;
  border-radius: 5px;
}

.spoiled-title {
  margin-bottom: auto;
  margin-top: auto;
}

