<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar-image"
         [ngStyle]="{'background-image':  'url(' + 'https://lain.bgm.tv/pic/user/l/icon.jpg' + ')' }"></div>

    <mat-card-title>Name</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet massa lectus, nec porttitor odio
      sagittis a. Aenean non bibendum lect <span
      class="spoiler-text color-bangumin-theme-foreground background-color-bangumin-theme-accent">s. Phasellus consequat
      interdum vulputate. In a ante non urna volutpat tincidunt vel nec orci. Aenean ornare odio libero.
      Sed bibendum mollis </span>,
      accumsan. Aliquam rutrum ante et odio ultricies fermentum.
    </p>


  </mat-card-content>

  <mat-divider></mat-divider>

  <p>Related subjects</p>

  <div class="row">
    <div>
      <img class="col-4 img-fluid" src="https://lain.bgm.tv/pic/user/l/icon.jpg">
    </div>

    <p class="col-8 spoiled-title">
      Lorem ipsum
    </p>
  </div>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
