<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="mat-sidenav-xs">
    <mat-nav-list *ngIf="userID !== undefined">
      <a mat-list-item routerLink="./progress" (click)="sidenav.close()">{{'progress.name' | translate}}</a>
      <a mat-list-item [routerLink]="['./user', userID]" (click)="sidenav.close()">{{'profile.name' | translate}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mat-sidenav-content-lt-md mat-sidenav-content-gt-sm ">
    <router-outlet></router-outlet>
    <small *ngIf="Environment.displayBuildVersion" class="build-version-footer">{{displayBuildVersion()}}</small>
  </mat-sidenav-content>
</mat-sidenav-container>

