mat-sidenav {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  padding: 0;
}

@media only screen and (max-width: 599px) {
  .mat-sidenav-xs {
    top: 56px;
  }

  .mat-sidenav-content-lt-md {
    min-height: 100vh;
    padding: 80px 0.8rem 0.8rem;
  }
}

@media only screen and (min-width: 600px) {
  .mat-sidenav-content-gt-sm {
    min-height: 100vh;
    padding-top: 80px;
  }
}

.build-version-footer {
  color: grey;
  position: fixed;
  left: 10px;
  bottom: 0;
  width: 100%;
  text-align: left;
}
