<div class="mt-2"></div>
<section>
  <h1 class="text-align-center mat-headline">{{'welcome.name' | translate}}</h1>
  <div class="text-align-center mat-subheading-2">{{'welcome.subHeading' | translate}}</div>
</section>
<div class="row justify-content-center ml-0 mr-0">
  <mat-card class="col-12 col-sm-10 col-md-8">
    <mat-card-header>
      <mat-card-title class="text-align-center">{{'welcome.card.stats.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-align-center">
        {{'welcome.card.stats.content' | translate}}
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex">
      <div class="flex-grow-1"></div>
      <a mat-button [routerLink]="['/user', bangumiUser.id, 'statistics']" class="link-hover-no-underline">{{'welcome.card.stats.learnMore'
        | translate}}</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="col-12 col-sm-10 col-md-8 mt-2 mt-md-3">
    <mat-card-header>
      <mat-card-title class="text-align-center">{{'welcome.card.spoilerBox.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-align-center">
        {{'welcome.card.spoilerBox.content' | translate}}
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex">
      <div class="flex-grow-1"></div>
      <a mat-button [routerLink]="['/user', bangumiUser.id, 'timeline','spoilers']" class="link-hover-no-underline">{{'welcome.card.spoilerBox.learnMore'
        | translate}}</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="col-12 col-sm-10 col-md-8 mt-2 mt-md-3">
    <mat-card-header>
      <mat-card-title class="text-align-center">{{'welcome.card.search.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="text-align-center">
        {{'welcome.card.search.content' | translate}}
      </div>

    </mat-card-content>
    <mat-card-actions class="d-flex">
      <div class="flex-grow-1"></div>
      <div>{{'welcome.card.search.learnMore' | translate}}</div>
    </mat-card-actions>
  </mat-card>
</div>
